*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #080B12;
  height: 100px;
  width: calc(100vw - 200px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 200px;
  position: fixed;
  /* line-height: 100px; */
  z-index: 1;
  top: 0;
  right: 0;
}

header button{
  border-radius: 20px;
  padding: 10px 40px;
  height: 40%;
  margin-right: 10px;
  background-color: rgba(255, 0, 0, 0);
  color: #ffffff;
}

main{
  height: calc(100vh - 80px);
  overflow-y: auto;
  background-color: #141922;
  color: #ffffff;
  padding-left: 200px;
  padding-top: 100px;
}

main h2,
main h4{
  margin: 20px;
}

.nav-menu{
  text-align: center;
}

ul.ul-menu li{
  display: inline;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: .7em;
  /* line-height: 50px; */
}

.ul-menu li a{
  text-decoration: none;
  color: white;
  display: inline-block;
  color: lightgrey;
  border-bottom: 4px solid #141922;
}
.ul-menu li a:hover{
  color: #ffffff;
  border-bottom: 4px solid green;
}

main h4{
  font-size: .8em;
  color: grey;
  margin-top: -10px;
}

main #recently,
main #creato-per-te,
main #pop-artist{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

main div.card,
main div.card-group{
  max-width: calc(100%/6 - 20px);
  min-width: 100px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  text-align: center;
}

main div.card img{
  min-width: 100%;
  /* min-height: 100%; */
}

main div.card-group img{
  width: 50%;
  height: 50%;
}

main div.card span,
main div.card-group span{
  display: block;
  margin-top: 5px;
  width: 100%;
}

main div.card p,
main div.card-group p{
  font-size: .9em;
  color: lightgrey;
  display: inline-block;
}

.artist-name{
  color: lightgrey;
  font-size: .8em;
}


div.card img:hover,
div.card-group:hover{
  opacity: .2;
}

#pop-artist .rounded img{
  border-radius: 50%;
}


.sidebar{
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: 200px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar > div {
  width: 100%;
}

.playlist{
}

.profile{
  margin-top: auto;
}

.sidebar img{
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-top: 10px;
}

.sidebar .playlists ul.nav{
  overflow-y: auto;
  height: 30vh;
}

.bottom-nav {
  align-self: flex-end;
}

.sidenav-small {
  height: calc(100% - 80px);
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  display: none;
  max-height: 100%;
}

.sidebar a.side-element,
.sidenav-small a {
  padding-left: 10px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 1.1em;
  color: #818181;
  display: block;
  width: 100%;
}

.sidebar h3.side-element{
  padding-left: 10px;
  margin-top: 20px;
}

.sidebar a.side-element i,
.sidenav-small a i{
 padding-right: 10px;
}

.sidebar a.side-element i.fa-plus-square{
  font-size: 2.5em;
}

.profile-name{
  padding: 5px;
  padding-top: 0px;
}
/* .container-side-flex,
.container-side-flex2{
  display: flex;
  flex-wrap: wrap;
}
.container-side-flex2{

} */

footer{
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  color: #ffffff;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  z-index: 2;
}

footer div.container-flex{
  display: flex;
  height: 100%;
  /* width: calc(100%/4 - 10px); */
  flex-basis: 230px;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 1;
}
footer div.container-flex span,
footer div.container-flex p{
  margin-left: 10px;
}
footer div.container-flex-center{
  display: flex;
  height: 100%;
  /* width: 50%; */
  flex-basis: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 2;
}
footer div.container-flex-end{
  display: flex;
  height: 100%;
  /* width: calc(100%/4 - 10px); */
  flex-basis: 230px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}
footer div.container-flex-end i,
footer div.container-flex-end input,
footer div.container-flex-center i{
  margin: 5px;
}

footer div.container-flex-end input{
}


@media all and (max-width:768px) {
  .sidebar{
    width: 100px;
    display: none;
  }
  .sidenav-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    text-align: center;
  }
  .sidenav-small a i.fa-plus-square{
    display: none;
  }
  .sidenav-small a i{
    font-size: 25px;
    padding-top: 5px;
  }
  .sidenav-small a{
    padding-left: 7px;
    padding-top: 5px;
  }
  .sidenav-small img{
    margin-left: 0;
  }

  main div.card,
  main div.card-group{
    max-width: 100px;
  }

  header button{
    font-size: .6em;
  }

  main{
    padding-left: 50px;
  }
  header{
    width: calc(100vw - 50px);
    margin-left: 50px;
  }
  footer{
    height: 80px;
    background-color: #282828;
    color: #ffffff;
  }

}
