*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #080B12;
  height: 100px;
  width: calc(100vw - 200px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 200px;
  position: fixed;
  /* line-height: 100px; */
  z-index: 1;
  top: 0;
  right: 0;
}

header button{
  border-radius: 20px;
  border-color: #ffffff;
  padding: 10px 40px;
  height: 40%;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

header button:hover{
  transform: scale(1.1);
}

main{
  height: calc(100vh - 80px);
  overflow-y: auto;
  background-color: #141922;
  color: #ffffff;
  padding-left: 200px;
  padding-top: 100px;
}

main h2,
main h4{
  margin: 20px;
}

.nav-menu{
  text-align: center;
}

ul.ul-menu li{
  display: inline;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: .7em;
  /* line-height: 50px; */
}

.ul-menu li a{
  text-decoration: none;
  color: white;
  display: inline-block;
  color: lightgrey;
  border-bottom: 4px solid #141922;
}
.ul-menu li a:hover{
  color: #ffffff;
  border-bottom: 4px solid green;
}

main h4{
  font-size: .8em;
  color: grey;
  margin-top: -10px;
}

main #recently,
main #creato-per-te,
main #pop-artist{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

main div.card ,
main div.card-group{
  max-width: calc(100%/6 - 20px);
  min-width: 130px;
  margin: 10px;
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  margin-bottom: 10px;
  text-align: center;
}

.card .img-hover,
.card-group .img-hover{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.img-hover .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.img-hover .overlay i{
  align-self: center;
}

.img-hover:hover  .overlay{
  display: flex;
  justify-content: center;
}

.img-hover .overlay{
  font-size: 3em;

}

main div.card img,
.img-hover{
  min-width: 100%;
  /* min-height: 100%; */
}

main div.card-group img{
  width: 50%;
  height: 50%;
}

main div.card span,
main div.card-group span{
  display: block;
  margin-top: 5px;
  width: 100%;
  font-weight: bold;
  font-size: .9em;
}

main div.card span.artist-name,
main div.card-group span.artist-name{
  font-weight: normal;
}

main div.card p,
main div.card-group p{
  font-size: .9em;
  color: lightgrey;
  display: inline-block;
}

.artist-name{
  color: lightgrey;
  font-size: .8em;
}


/* div.card img:hover,
div.card-group:hover{
  opacity: .2;
} */

#pop-artist .rounded img,
div.rounded{
  border-radius: 50%;
}


.sidebar{
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: 200px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar > div {
  width: 100%;
}

.playlist{
}

.profile{
  margin-top: auto;
}

.sidebar img{
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-top: 10px;
}

.sidebar .playlists ul.nav{
  overflow-y: auto;
  height: 30vh;
}

.bottom-nav {
  align-self: flex-end;
}

.sidenav-small {
  height: calc(100% - 80px);
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  /* padding-top: 20px; */
  display: none;
  max-height: 100%;
}

.sidebar a.side-element,
.sidenav-small a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.1em;
  color: #818181;
  display: block;
  width: 100%;
}

.sidebar h3.side-element{
  padding: 10px;
  margin-top: 20px;
}

.sidebar a.side-element i{
 padding-right: 10px;
}

.sidebar a.side-element i.fa-plus-square{
  font-size: 2.5em;
}

.profile{
  padding: 10px;
}

.profile span a{
  color: #818181;
  text-decoration: none;
  font-size: .9em;
  line-height: 2;
}

.profile span:hover a{
  color: #ffffff;
}

.sidebar .playlists ul li a:hover,
.sidebar .playlists .create-playlist a:hover,
.sidenav-small a:hover{
  color: #ffffff;
  font-size: 1.2em;
  border-left: 2px solid green;
}
/* .container-side-flex,
.container-side-flex2{
  display: flex;
  flex-wrap: wrap;
}
.container-side-flex2{

} */

footer{
  height: 80px;
  width: 100VW;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  z-index: 2;
}

footer div.container-flex{
  display: flex;
  height: 100%;
  /* width: calc(100%/4 - 10px); */
  flex-basis: 230px;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-width: 25%;
}
footer div.container-flex img{
  max-height: 60px;
}
footer div.container-flex span,
footer div.container-flex p{
  margin-left: 10px;
}

.flex-col-icon{
  margin-left: 30px;
}

footer div.container-flex-center{
  display: flex;
  flex-direction:column;
  height: 100%;
  flex-basis: 350px;
  flex-grow: 2;
}

footer div.container-flex-center .flex-cen-top{
  display: flex;
  height: 75%;
  /* width: 50%; */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

footer div.container-flex-center .flex-cen-top a i{
  color: #ffffff;
}

footer div.container-flex-center .flex-cen-bot{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

footer div.container-flex-center .flex-cen-bot input{
  width: 60%;
}

footer div.container-flex-end{
  display: flex;
  height: 100%;
  /* width: calc(100%/4 - 10px); */
  flex-basis: 230px;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 25%;
  flex-grow: 1;
}
footer div.container-flex-end i,
footer div.container-flex-end input,
footer div.container-flex-center i{
  margin: 5px;
}

.container-flex-end a i{
  color: #ffffff;
}

footer div.container-flex-end input{
}


@media all and (max-width:992px){
  footer div.container-flex-center .flex-cen-bot{
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media all and (max-width:567px) {
  .sidebar{
    width: 100px;
    display: none;
  }
  .sidenav-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    text-align: center;
  }
  .sidenav-small a i.fa-plus-square{
    display: none;
  }
  .sidenav-small a i{
    font-size: 25px;
  }
  .sidenav-small img{
    margin-left: 0;
  }

  header button{
    transform: scale(.8);
  }
  header button:hover{
    transform: scale(1);
  }

  main div.card,
  main div.card-group{
    max-width: 40%;
    min-width: 100px;
  }
  main div.card span,
  main div.card-group span {
    font-size: .8em;
  }
  main h2{
    font-size: 1.1em;
  }
  main h4{
    font-size: 0.9em;
  }

  .ul-menu li a{
    font-size: .8em;
  }

  header button{
    font-size: .6em;
  }

  main{
    padding-left: 50px;
  }
  header{
    width: calc(100vw - 50px);
    margin-left: 50px;
  }
  footer{
    height: 80px;
    background-color: #282828;
    color: #ffffff;
  }

  footer div.container-flex{
    flex-basis: 100px;
    font-size: .7em;
    padding-left: 0;
    flex-shrink: 2;
  }


  footer .container-flex .flex-col{
    margin-left: -15px;
  }

  footer .container-flex i{
    display: none;
  }

  footer .container-flex img{
    transform: scale(.7);
  }

  footer div.container-flex-center{
    flex-basis: 200px;
    font-size: .7em;
  }

  footer div.container-flex-center .flex-cen-bot{
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
  }

  footer div.container-flex-end{
    flex-basis: 80px;
    font-size: .8em;
  }
  footer div.container-flex-end input{
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100px;
      -webkit-appearance: none;
      background-color: rgba(255,255,255,0.4);
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #ffffff;
    }

}
/** FF/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/ IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
